:root{
    --inputWidth: 200px;
    --meterWidth: 200px;
    --meterHeight: 25px;
}

.infoDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoDiv > div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.infoDiv > *{
    margin: 5px 10px 5px 10px;
}

.infoDiv input{
    width: var(--inputWidth);
}

.infoDiv meter{
    width: var(--meterWidth);
    height: var(--meterHeight);
}

.textoDiv{
    color:red;
}